body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-15px;
  width:900px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:900px;
  height:2030px;
}
#u765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  display:flex;
}
#u765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:300px;
  height:30px;
  display:flex;
}
#u766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:300px;
  height:30px;
  display:flex;
}
#u767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2000px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:300px;
  height:2000px;
  display:flex;
}
#u768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2000px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:30px;
  width:300px;
  height:2000px;
  display:flex;
}
#u769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2000px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:30px;
  width:300px;
  height:2000px;
  display:flex;
}
#u770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:67px;
  width:100px;
  height:60px;
  display:flex;
}
#u771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:168px;
  width:100px;
  height:60px;
  display:flex;
}
#u772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:127px;
  width:0px;
  height:0px;
}
#u773_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:47px;
}
#u773_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:23px;
  width:22px;
  height:23px;
}
#u773_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:226px;
  width:100px;
  height:60px;
  display:flex;
}
#u774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:286px;
  width:0px;
  height:0px;
  color:#000000;
}
#u775_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:58px;
}
#u775_seg1 {
  border-width:0px;
  position:absolute;
  left:-255px;
  top:46px;
  width:261px;
  height:12px;
}
#u775_seg2 {
  border-width:0px;
  position:absolute;
  left:-260px;
  top:41px;
  width:23px;
  height:22px;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:-152px;
  top:38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:198px;
  width:0px;
  height:0px;
}
#u776_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:261px;
  height:12px;
}
#u776_seg1 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:-6px;
  width:12px;
  height:34px;
}
#u776_seg2 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:10px;
  width:22px;
  height:23px;
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:92px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:308px;
  width:100px;
  height:60px;
  display:flex;
}
#u777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:368px;
  width:0px;
  height:0px;
}
#u778_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:84px;
}
#u778_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:60px;
  width:22px;
  height:23px;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:31px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:446px;
  width:100px;
  height:60px;
  display:flex;
}
#u779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:476px;
  width:0px;
  height:0px;
  color:#000000;
}
#u780_seg0 {
  border-width:0px;
  position:absolute;
  left:-271px;
  top:-6px;
  width:271px;
  height:12px;
}
#u780_seg1 {
  border-width:0px;
  position:absolute;
  left:-271px;
  top:-6px;
  width:12px;
  height:72px;
}
#u780_seg2 {
  border-width:0px;
  position:absolute;
  left:-276px;
  top:48px;
  width:22px;
  height:23px;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:-216px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:542px;
  width:100px;
  height:60px;
  display:flex;
}
#u781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:506px;
  width:0px;
  height:0px;
  color:#000000;
}
#u782_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:200px;
}
#u782_seg1 {
  border-width:0px;
  position:absolute;
  left:-327px;
  top:188px;
  width:333px;
  height:12px;
}
#u782_seg2 {
  border-width:0px;
  position:absolute;
  left:-327px;
  top:188px;
  width:12px;
  height:209px;
}
#u782_seg3 {
  border-width:0px;
  position:absolute;
  left:-332px;
  top:379px;
  width:22px;
  height:23px;
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:-215px;
  top:187px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:903px;
  width:100px;
  height:60px;
  display:flex;
}
#u783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:176px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:708px;
  width:115px;
  height:176px;
  display:flex;
}
#u784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:1064px;
  width:100px;
  height:60px;
  display:flex;
}
#u785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:963px;
  width:0px;
  height:0px;
  color:#000000;
}
#u786_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:137px;
}
#u786_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:125px;
  width:277px;
  height:12px;
}
#u786_seg2 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:120px;
  width:23px;
  height:22px;
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:117px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:903px;
  width:100px;
  height:60px;
  display:flex;
}
#u787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:933px;
  width:0px;
  height:0px;
  color:#000000;
}
#u788_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:493px;
  height:12px;
}
#u788_seg1 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:-11px;
  width:23px;
  height:22px;
}
#u788_text {
  border-width:0px;
  position:absolute;
  left:194px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:1199px;
  width:100px;
  height:60px;
  display:flex;
}
#u789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:1124px;
  width:0px;
  height:0px;
}
#u790_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:81px;
}
#u790_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:57px;
  width:22px;
  height:23px;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:963px;
  width:0px;
  height:0px;
}
#u791_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:272px;
}
#u791_seg1 {
  border-width:0px;
  position:absolute;
  left:-216px;
  top:260px;
  width:222px;
  height:12px;
}
#u791_seg2 {
  border-width:0px;
  position:absolute;
  left:-221px;
  top:255px;
  width:23px;
  height:22px;
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:233px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:256px;
  width:0px;
  height:0px;
  color:#000000;
}
#u792_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:16px;
  height:12px;
}
#u792_seg1 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-6px;
  width:12px;
  height:985px;
}
#u792_seg2 {
  border-width:0px;
  position:absolute;
  left:-305px;
  top:967px;
  width:321px;
  height:12px;
}
#u792_seg3 {
  border-width:0px;
  position:absolute;
  left:-310px;
  top:962px;
  width:23px;
  height:22px;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:632px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
